/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FEEDE4;
}
.quest-container{
  margin: 0 auto;
  max-width: 920px;
  padding: 24px 60px;
  border-radius: 30px;
  background: #fff;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.quest-main-title{
  font-size: 24px;
  font-weight: 600;
  margin: 44px auto;
  text-align: center;
}
/*body :where(.css-dev-only-do-not-override-ph9edi).ant-tabs >.ant-tabs-nav{*/
/*  display: none;*/
/*}*/

.formpage-error{
  color: #ff4d4f;
  margin-bottom: 20px;
}
.container h3{
  font-size: 32px;
  text-align: center;
}
.form-navigate-buttons{
  display: flex;
}
.quest-title,.quest-desc{
  margin-bottom: 25px;
}
.quest-title{
  font-size: 18px;
  font-weight: 700;
}
.quest-desc{
  font-size: 14px;
  font-weight: 600;
}
.order-next-btn{
  display: flex;
  justify-content: right;
}
.auth-error{
  color: #ff4d4f;
  font-size: 14px;
  margin-bottom: 10px;
}
.you-can-choose-products{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}