body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-container{
  width: calc(25% - 20px);
}
.store{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.container{
  max-width: 800px;
  margin: 100px auto 0;
  border: 1px solid rgba(0,0,0,.5);
  padding: 40px;
  border-radius: 20px;
}
body :where(.css-dev-only-do-not-override-ph9edi).ant-tabs >.ant-tabs-nav{
  display: none;
}
div#nest-messages_genre, div#nest-messages_mood{
  display: block;
}
div#nest-messages_about_hints{
  display: flex;
  flex-direction: column;
 }
body :where(.css-dev-only-do-not-override-ph9edi)[class^="ant-form"] [class*=" ant-form"], :where(.css-dev-only-do-not-override-ph9edi)[class*=" ant-form"] [class*=" ant-form"]{
  display: block;
  text-align: left;
}